body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    height: 100%;
    position: relative;
    background-color: pink;
    padding-left: 10%;
    padding-right: 10%;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.avatar {
    display: block;
    margin: auto;
    width: 10em;
}